@import "tailwindcss";

:root {
  --bg: white;
  --text: #111827;
  --header: #f3f4f6;
}

.dark {
  --bg: #111827;
  --text: #f9fafb;
  --header: #1f2937;
}

body {
  background-color: var(--bg);
  color: var(--text);
}